body {
  background-color: #c1cde1;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
}

.display-container {
  background-color: gray;
  height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
}

.button-panel {
  display: flex;
  flex-direction: column;
}

.button {
  color: black;
  font-size: 2rem;
  border: 1px outset #000;
}

.btnRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
}

.small {
  width: 25%;
}

.wide {
  width: 50%;
}

.bg-orange {
  background-color: orange;
}

.bg-gray {
  background-color: lightgray;
}
